# public/.htaccess

RewriteEngine On

# If the requested file or directory doesn't exist, show 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L]